* {
  /* border: 1px red solid; */
  outline: none !important;
}

#root {
  min-height: 100vh;
  background: rgb(219, 244, 252);
}

.clickable:hover,
a:hover {
  cursor: pointer;
}

textarea {
  resize: none;
}

.bg-white {
  background: #FFF;
}

.min-h-100{
  min-height: 100vh;
}

.text-silver {
  color: silver;
  background: transparent;
}

.icon-sm {
  font-size: 1.2rem;
}

.icon-md{
  font-size: 1.7rem;
}

.icon-lg{
  font-size: 4rem;
}

.fa-icon-link:hover {
  color: blue;
  cursor:hover;
}

@media screen and (max-width: 400px) {
  .user-cards-container {
      width: 100vw !important;
      justify-content: space-evenly !important;
      align-items: flex-start !important;
  }
}

