.App {
  text-align: center;
}

* {
  /* border: 1px red solid; */
  outline: none;
}

a:hover {
  cursor: pointer;
}

textarea {
  resize: none;
}


.bg-blue-light {
  background: lightblue;
}

.full-height {
  height: 100vh;
}
