#portrait-container {
    height: auto;
    width: 12rem;
    max-width: 40vw;
    overflow: hidden;
}

#portrait-container img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 500px){
    #bio-text-container > * {
        font-size: 0.9rem !important;
    }
}
