#splash-container {
    height: 40vh;
    width: 100vw;
    background-size: cover;
    background-repeat : no-repeat;
    background-position: center center;
}

.header-btn:hover {
    cursor: pointer;
    background: rgb(238, 238, 238);
}

@media screen and (max-width: 400px){
    #tab-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        z-index: 100;
        justify-content: space-evenly !important;
    }

    #tab-container ul {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }

    #tab-container p {
        font-size: 0.75rem;
    }
}


