#splash-container {
    height: 50vh;
    background-size: cover;
    background-repeat : no-repeat;
    background-position: center center;
}

.header-btn:hover {
    cursor: pointer;
    background: rgb(238, 238, 238);
}

#tab-container ul {
    width: 6rem;
}

.quantity-badge {
    position: absolute;
    top: -5px;
    right: -12px;
}

@media screen and (max-width: 500px){
    #tab-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        z-index: 100;
        justify-content: space-evenly !important;
        flex-wrap: nowrap !important;
    }

    #tab-container ul {
        width: 4rem !important;
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }

    #tab-container p {
        font-size: 0.75rem;
    }
}


